:root {
    --color: #858080;
    --color_icon: #000;
    --with_chung: 1200px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.nav {
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 1000;
}

.box_menu {

    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

}

.logo_shop img {
    max-width: 200px;
    height: 60px;
}

.menu_cha {
    position: relative;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;


}

.menu_cha li {
    padding: 24px;
}

.menu_cha li a {
    color: var(--color);
    transition: 0.5s ease;
}

.menu_cha li a:hover {
    color: rgb(56, 55, 55);
}

.menu_con {
    z-index: 100;
    position: absolute;
    list-style: none;
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in;
}

.fa-angle-left {
    margin-left: 10px;
    transform: rotate(-90deg);
}

.menu_con li {
    padding: 5px;
}

.menu_cha li:hover ul {
    margin-top: 15px;
    border-radius: 5px;
    background: rgb(218, 215, 215);
    visibility: visible;
    opacity: 1;
}

.box_icon {
    display: flex;
}

.icon_1 {
    padding: 20px;
}

.icon_1 i {
    color: var(--color_icon);
}
/* Banner */
.box_banner {
    z-index: -1;
    position: relative;
    height: 315px;
    max-width: 1920px;
    padding-top: 97.6px;
    margin: 0 auto;
    overflow: hidden;
}

.banner_1 {
    width: 100%;
    z-index: 10;
    position: absolute;
}

.banner {
    position: absolute;
    background-color: #33455c;
    width: 1920px;
    z-index: 30;
    height: 315px;
    opacity: 0.6;
    margin: 0 auto;
}

.banner_3 {
    max-width: 1200px;
    height: 315px;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.banner_3 p {
    z-index: 200;
    color: #fff;
    font-size: 37px;

    position: absolute;
}

.ground_banner p {
    margin-top: -100px;
}

.box_banner img {
    object-fit: cover;
    height: 315px;
    width: 100%;
}

/* title */
.title_fist {
    max-width: 1200px;
    margin: 0 auto;
}

.title_fist ul {
    display: flex;
    padding: 0;
    list-style: none;
    display: flex;
}

.title_fist ul li {
    display: flex;
}

.title_fist ul li a {
    color: var(--color);
    align-items: center;
    align-content: center;
    display: flex;
}

.title_fist ul li a p {
    margin-right: 10px;
    margin-left: 10px;
}
/* Binh luan */
.binhluanblog {
	margin-top: 100px;
}
.binhluanblog h2 {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 84px;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
	padding-bottom: 60px;
}
.binhluanblog .input {
	display: flex;
	justify-content: space-between;
}
.binhluanblog .text1 {
	width: 48%;
	border: 1px solid #cccccc;
	border-radius: 8px;
	padding: 15px 0 15px 10px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: rgba(0, 0, 0, 0.64);
}
.binhluanblog .text2 {
	width: 48%;
	padding: 15px 0 15px 10px;
	border: 1px solid #cccccc;
	border-radius: 8px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: rgba(0, 0, 0, 0.64);
}
.binhluanblog textarea {
	width: calc(100% - 20px);
	padding: 0;
	padding: 10px;
	resize: none;
	height: 300px;
	margin-top: 25px;
	border: 1px solid #cccccc;
	border-radius: 8px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: rgba(0, 0, 0, 0.64);
}
.binhluanblog .btn-gui {
	text-align: center;
	margin-top: 80px;
}
.binhluanblog .btn-gui button {
	border: none;
	background: #ffd706;
	border-radius: 8px;
	padding: 15px 80px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 153.6%;
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
/* Contact page */
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.contactpage {
	margin-top: 120px;
}
.contactpage h2 {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 84px;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
}
.contactpage .container p {
	padding-top: 10px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 31px;
	text-align: center;
	color: rgba(0, 0, 0, 0.64);
}
.contactpage .thongtincontact {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	text-align: center;
}
.contactpage .thongtincontact .diachi {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 31%;
	height: 270px;
	background: #e3f5f5;
	border-radius: 12px;
}
.contactpage .thongtincontact i {
	font-size: 40px;
}
.contactpage .thongtincontact h4 {
	padding-top: 15px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 31px;
	color: rgba(0, 0, 0, 0.8);
}
.contactpage .thongtincontact p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 31px;
	color: rgba(0, 0, 0, 0.64);
}
.contactpage .thongtincontact .hotline {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 31%;
	height: 270px;
	background: #e3f5f5;
	border-radius: 12px;
}
.contactpage .thongtincontact .email {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 31%;
	height: 270px;
	background: #e3f5f5;
	border-radius: 12px;
}
/* Footer */
.box_footer {
    background: rgba(39, 35, 67, 1);
    max-width: 1920px;
    color: rgb(236, 235, 235);
    margin: 0 auto;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer h3 {
    font-size: 20px;
    font-weight: 400;
}

.box_footer_1 img {
    width: 200px;
    height: 80px;
}

.box_footer_1 span {
    color: rgb(205, 199, 199);
    font-size: 15px;
}

.icon-footer ul {
    padding: 0;
    display: flex;
    list-style: none;
}

.icon-footer ul li {
    padding-right: 18px;
}

.icon-footer ul li a i {
    color: rgb(236, 235, 235);
    transform: scale(1.3);
}

.icon-footer ul li a i:hover {
    transform: scale(1.45);
}

.box_footer_2,
.box_footer_3,
.box_footer_4 {
    display: flex;
    flex-direction: column;
}

.box_footer_2 ul,
.box_footer_3 ul,
.box_footer_4 ul {
    list-style: none;
    padding: 0;
}

.box_footer_2 ul li,
.box_footer_3 ul li,
.box_footer_4 ul li {
    padding-bottom: 8px;
}

.box_footer_2 ul a,
.box_footer_3 ul a,
.box_footer_4 ul a {
    font-size: 15px;
    color: rgb(205, 199, 199);
}

.element_0123 ul li a {
    position: relative;
    padding-bottom: 2px;
    font-size: 13px;
}

.element_0123 ul li a::before {
    content: '';
    position: absolute;
    display: block;
    background: #858080;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    transform-origin: top left;
    transition: transform 0.4s ease;
    transform: scaleX(0);
}

.element_0123 ul li a:hover::before {
    transform: scaleX(1);
}
